.review-card:hover div div .profilePhoto{
  border:2px solid #FE7E21;
}
.review-card{
  color: #000110;

}

.review-card:hover{
  color: white;
  background-color: #000110;
}

.pricingCard:hover{
  color: white;
  background-color: #000110;
}

.pricingCard:hover div div h1{
  color: #FE7E21;
}
.pricingCard:hover div div div{
  border-color: #FE7E21;
  color: #FE7E21;
}

.pricingCard:hover div ol li{
  color: white;
}
.pricingCard:hover div button{
  background-color: white;
}
.pricingCard div button:hover{
  background-color: #FE7E21;
  border-color: #FE7E21;
}